nav {
    background-color: #F3CA20;
    padding: 20px;
    height:35px   }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 1150px;
    
  }
  
  img {
    width: 700px;
    height: 350px;
    margin-bottom: 20px;
    text-align: center;

  }
  
  footer {
    background-color: #A9A9A9;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 1325px;
    height: 20px;
  }
#myvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
  }
   
 #button{
    height: 20px;
    position: relative;
    margin: 0;
    top: 50%;
    padding: 24px 80px;
    font-weight : normal;
    font-weight : bold;
    font-size: 18px;
 }

 .container { 
    height: 100px;
    position: relative;
 
  }